<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0Ig3-5wSRrjNuIguIhMSlLvdqToC29fE</string>
	<key>GCM_SENDER_ID</key>
	<string>92678043519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ovasta.sellers</string>
	<key>PROJECT_ID</key>
	<string>ovasta-551e0</string>
	<key>STORAGE_BUCKET</key>
	<string>ovasta-551e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92678043519:ios:172d7722aa21c0691c8c4a</string>
	<key>DATABASE_URL</key>
	<string>https://ovasta-551e0.firebaseio.com</string>
</dict>
</plist>
